Repository BaianorASR/tdd-nest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix

feat: setup jest and first tests
  jest.config.js
  package.json
  src/database/entities/index.ts
  src/modules/user/dto/create-user.dto.ts
  src/modules/user/entities/user.entity.ts
  src/modules/user/user.controller.spec.ts
  src/modules/user/user.controller.ts
  src/modules/user/user.service.spec.ts
  src/modules/user/user.service.ts
  test/__MOCKS__/index.ts
  test/__MOCKS__/user.mock.ts
  test/utils/typeorm-repository-mock.util.ts
  tsconfig.json
  yarn.lock
Due: prettier --write ., eslint --fix

fix: eslintr ignore
  .eslintignore
  .eslintrc.js
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  jest.config.ts
Due: prettier --write ., eslint --fix

feat: create user test service
  .eslintrc.js
  src/modules/user/user.controller.spec.ts
  src/modules/user/user.service.spec.ts
  test/__MOCKS__/user.mock.ts
  tsconfig.json
Due: prettier --write ., eslint --fix

feat: test create controller
  src/modules/user/user.controller.spec.ts
  test/__MOCKS__/user.mock.ts
Due: none

fix: mocks use plainToInstance
  test/__MOCKS__/user.mock.ts
Due: none

feat: test users findall service
  src/modules/user/user.service.spec.ts
  src/modules/user/user.service.ts
Due: none

feat: test findall user controller
  src/modules/user/user.controller.spec.ts
Due: none

feat: make exception filteer
  database.sqlite
  src/app.module.ts
  src/exception-filters/Http-Exception.filter.ts
  src/main.ts
  src/modules/user/user.controller.ts
  src/modules/user/user.module.ts
  src/modules/user/user.service.spec.ts
  src/modules/user/user.service.ts
  test/utils/typeorm-repository-mock.util.ts
Due: none

feat: findOne tdd test
  src/modules/user/user.controller.spec.ts
  src/modules/user/user.controller.ts
  src/modules/user/user.service.spec.ts
Due: none

feat: test patch user
  .vscode/settings.json
  database.sqlite
  src/database/entities/user.entity.ts
  src/modules/user/dto/update-user.dto.ts
  src/modules/user/user.controller.spec.ts
  src/modules/user/user.controller.ts
  src/modules/user/user.service.spec.ts
  src/modules/user/user.service.ts
Due: prettier --write .

feat: end test cases for user
  src/modules/user/user.controller.spec.ts
  src/modules/user/user.controller.ts
  src/modules/user/user.service.spec.ts
  src/modules/user/user.service.ts
Due: none

fix: eslint warnings
  src/modules/user/user.service.ts
Due: none

feat: init e2e test
  database.sqlite
  package.json
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/database/entities/user.entity.ts
  src/modules/user/user.service.ts
  src/modules/user/user.spec.ts
  test-database.sqlite
  test/__MOCKS__/user.mock.ts
  test/app.e2e-spec.ts
  test/jest-e2e.json
  yarn.lock
Due: prettier --write .

fix: delete test sqlite
  test-database.sqlite
Due: none

fix: dto password validation
  src/modules/user/dto/create-user.dto.ts
Due: none

feat: update e2e testes
  src/modules/user/user.spec.ts
Due: none

Path conditions:
  prettier --write .: any of: *.{css,less,scss,html,json,jsx,js}
  eslint --fix: any of: *.js
